body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
    height: 34px
}

/*
    Styles start
*/
.jumbotron {
    background: url('images/main-feature-mobile-background.jpg') no-repeat top left;
    color:white;
}

.jumbotron h1 {
    font:3.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.jumbotron .red {
    color:red;
}

.visual {
    width: 100%;
    height: 180px;
    font: 9.5em Impact, sans-serif;
}
.visual > div {
    width: 100%;
    text-align: center;

}

.table-responsive select {
    margin-bottom:10px;
}

.disabled {
    color:#F0F0F0;
}

#sidebar-wrapper {
    background-color:gray;
}

#sidebar-wrapper a:link, #sidebar-wrapper a:visited, #sidebar-wrapper a:hover, #sidebar-wrapper a:active {
    color:white;
}

.table.center td:not(:nth-of-type(2n)) {
    text-align:center;
}

.caption a:link, .caption a:hover, .caption a:active, .caption a:visited {
    font-weight:bold;
    font-size: 2em;
}

.dropdown-menu p {
    font-size:.8em;
}


/* Bootstrap overrides and updates */
.btn-large {
    width: 100%;
    height: 50px;
    display: block;
    font-size: 1.5em;
}

select {
    font-size: 2em;
}

li {
    list-style:none;
}

td.actions button:not(:last-child) {
    margin-bottom:5px;
}
td.actions button {
    margin-left:7px;
}

/* ------------------------------------ LIST GROUP*/
.list-group {
    margin:10px;
}

.modal-body strong, .panel-body strong {
    font-size:2em;
    display:block;
    width:100%;
    text-align:center;
    background-color:#F0F0F0;
    color:#065FA3;
    border-radius:5px;
    padding:10px 0;
}

.modal-body .thumbnail {
    padding:12px;
}

    .modal-body .price {
        font-size: 2em;
        font-weight: bold;
        color: #6d55b9;
    }

    .modal-body .price span {
        font-size: .7em;
        font-weight:normal;
    }

    .modal-body .price button {
        margin-top: -10px;
    }

    .modal-body .list-group {
        font-size:1.4em;
    }

    .modal-body li.separate {
        border-bottom: 1px solid gray;
        margin-bottom:10px;
    }


    .modal-body li > div::before {
        background-color: #dce6e5;
        color: #65AFA3;
        content: ".";
    }

    .modal-body dl {
        display:inline-block;
    }
     .modal-body dt {
         font-size:.8em;
     }
     .model-body dd:last-child{
         text-align:right;
     }
        

.panel-body div:not(.input-group) > .form-control {
    margin:3px;
}
    .panel-body .thumbnail{
        min-height: 300px;
    }
        .panel-body .thumbnail.small {
            min-height: inherit;
        }
        .panel-body .thumbnail::after {
            content: ".";
            clear : both;
            height:1px;
            visibility: hidden;
        }
.totals {
    background-color:#F0F0F0;
    padding:10px;
    border-top-left-radius:20px;
    margin-top:10px;
}
    .totals strong {
        background-color:#ddd;
        color:white;
        border-radius: 0px;
        border-bottom:1px solid gray;
        margin-bottom:15px;
        box-shadow:#d4d4d4 68px 10px inset;
        border-top-left-radius:20px;
    }

.links {
    background-color: white;
    border-radius: 16px;
    padding: 15px;
    width:41%;
    opacity:.8;
}
.links:hover {
    opacity:1;
}
    .links img {
        height: 50px;
    }
    .links a:last-child img{
        height: 70px;
    }
    .links a:not(:last-child) img {
        margin-right: 38px;
    }
    .links a:first-child{
        margin-left:10px;
    }
