body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
    height: 34px
}

/*
    Styles start
*/
.jumbotron {
    background: url('images/main-feature-mobile-background.jpg') no-repeat top left;
    color:white;
}

.jumbotron h1 {
    font:3.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.jumbotron .red {
    color:red;
}

.visual {
    width: 100%;
    height: 180px;
    font: 9.5em Impact, sans-serif;
}
.visual > div {
    width: 100%;
    text-align: center;

}

.table-responsive select {
    margin-bottom:10px;
}

.disabled {
    color:#F0F0F0;
}

#sidebar-wrapper {
    background-color:gray;
}

#sidebar-wrapper a:link, #sidebar-wrapper a:visited, #sidebar-wrapper a:hover, #sidebar-wrapper a:active {
    color:white;
}

.table.center td:not(:nth-of-type(2n)) {
    text-align:center;
}

.caption a:link, .caption a:hover, .caption a:active, .caption a:visited {
    font-weight:bold;
    font-size: 2em;
}

.dropdown-menu p {
    font-size:.8em;
}


/* Bootstrap overrides and updates */
.btn-large {
    width: 100%;
    height: 50px;
    display: block;
    padding: 11px 0 0 0;
    font-size: 1.5em;
}

/* ------------------------------------ LIST GROUP*/
.list-group {
    margin:10px;
}

.modal-body strong {
    font-size:2em;
    display:block;
    width:100%;
    text-align:center;
    background-color:#F0F0F0;
    color:#065FA3;
    border-radius:5px;
    padding:10px 0;
}

.modal-body .thumbnail {
    padding:12px;
}