<div class="jumbotron">
    <h1><span class="red">Trainer</span>Road</h1>
    <p class="lead">Application Test : Provided by : Wesley Duff</p>
    <p><a href="#" class="btn btn-primary btn-lg">View Application &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Offers</h2>
        <p>
            Manage the special offers. Add a special offer to your distributor.
        </p>
        <p><a class="btn btn-default" href="/Offers">Manage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Distributors</h2>
        <p>Create a new bike shop and manage their inventory.</p>
        <p><a class="btn btn-default" href="#">Manage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discounts</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>