<h2>{{title}}</h2>
<div class="col-md-4">
    <div class="thumbnail">
        <div class="visual"><div>{{offers.length}}</div></div>
        <div class="caption">
            <h3>TOTAL OFFERS</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
                <a href="#" class="btn btn-primary" role="button">Button</a>
                <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row clearfix">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">
                            Id
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Discount
                        </th>

                        <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="offer in offers">
                        <td>
                            <span>{{offer.Id}}</span>
                        </td>
                        <td data-name="Title">
                            {{offer.Title}}
                        </td>
                        <td data-name="Discounts" valign="middle">
                            <div class="list-group">
                                <div ng-repeat="discount in offer.Discounts" href="#" ng-class="{'active' : $index == 0}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{discount.Title}}</h4>
                                    <p class="list-group-item-text">{{discount.Description}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button ng-click="DeleteOffer(offer.Id)" class='btn btn-danger glyphicon glyphicon-remove'></button>
                        </td>
                    </tr>
                    <tr data-row="add">
                        <td>
                            <span class="disabled">Dynamic</span>
                        </td>
                        <td >
                            <input ng-model="discountOptions.title" type="text" name='title' placeholder='title' class="form-control" />
                        </td>
                        <td align="center">
                            <select multiple name="discounts" id="discounts"
                                    ng-options="discount.Title for discount in discountOptions.availableOptions track by discount.Id"
                                    ng-model="discountOptions.selectedOptions"></select>
                            <br />
                            <a href="/#/Discounts"class="bnt btn-warning btn-large"><span class="glyphicon glyphicon-plus"></span> Discount</a>
                        </td>
                        <td >
                            <button ng-click="AddOffer(discountOptions)" class='btn btn-success glyphicon glyphicon-plus'></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

