<!-- Sidebar -->
<div id="sidebar-wrapper">
    <nav>
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a href="/"><span class="fa fa-home solo">Home</span></a>
            </li>
            <li>
                <a href="/Discounts" data-scroll>
                    <span class="fa fa-anchor solo">Discounts</span>
                </a>
            </li>
            <li>
                <a href="#anch2" data-scroll>
                    <span class="fa fa-anchor solo">Distributors</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
