<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Platform.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Platform.Client.Properties.Settings.BikeDistributorConnectionString"
            connectionString="mongodb://slysop:ab123456@ds031328.mlab.com:31328/bikedistributor" />
        <add name="Platform.Client.Properties.Settings.mongoLocal" connectionString="mongodb://localhost" />
    </connectionStrings>
    <applicationSettings>
        <Platform.Client.Properties.Settings>
            <setting name="BikeDistributorDatabaseName" serializeAs="String">
                <value>bikedistributor</value>
            </setting>
            <setting name="mongoLocalDb" serializeAs="String">
                <value>db</value>
            </setting>
            <setting name="mongoLocalTestDb" serializeAs="String">
                <value>test</value>
            </setting>
        </Platform.Client.Properties.Settings>
    </applicationSettings>
</configuration>