<div class="panel panel-default">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            {{title}}
        </h4>
    </div>
    <div id="inventory">
       <div id="inventory">
                <div class="panel-body">
                    <form ng-submit="addInventoryItem(Inventory, distributorsModalData.Id)">
                        <div class="col-xs-12">
                            <div class="thumbnail small">
                                <strong>Brand</strong>
                                <br />
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Brand" type="text" class="form-control" placeholder="Brand" /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Model</strong>
                                <br />
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Model.Year" type="text" class="form-control" placeholder="Year: 2016" /></div>
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Model.Name" type="text" class="form-control" placeholder="Model Name" /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Price &amp; Quantity</strong>
                                <br />
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input ng-model="Inventory.Bike.Price.Value" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <input ng-model="Inventory.Quantity"  type="text" class="form-control" placeholder="Quantity">
                                        <span class="input-group-addon">Qty</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr />
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-success btn-large">Create Inventory Item</button>
                            </div>
                            <div class="col-xs-6">
                                <button ng-click="updateUIViewVisibility(false)" class="btn btn-danger btn-large">Cancel</button>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>