<div class="panel panel-default">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            {{title}}
        </h4>
    </div>
    <div id="inventory">
       
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    Add Inventory for {{distributorsModalData.Name}}
                </h4>
            </div>
            <div id="inventory">
                <div class="panel-body">
                    <form ng-submit="addInventoryItem(Inventory, distributorsModalData.Id)">
                        <div class="col-xs-12">
                            <div class="thumbnail small">
                                <strong>Brand</strong>
                                <br />
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Brand" type="text" class="form-control" placeholder="Brand" /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Model</strong>
                                <br />
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Model.Year" type="text" class="form-control" placeholder="Year: 2016" /></div>
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Model.Name" type="text" class="form-control" placeholder="Model Name" /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Price &amp; Quantity</strong>
                                <br />
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input ng-model="Inventory.Bike.Price.Value" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <input ng-model="Inventory.Quantity"  type="text" class="form-control" placeholder="Quantity">
                                        <span class="input-group-addon">Qty</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr />
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-success btn-large">Create Inventory Item</button>
                            </div>
                            <div class="col-xs-6">
                                <button ng-click="updateUIViewVisibility(false)" class="btn btn-danger btn-large">Cancel</button>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- START : DISTRIBUTOR DISPLAY -->

<div class="panel panel-default">
    <div class="panel-heading">Distributor View for <span ng-bind="dData.Name"></span></div>
    <div class="panel-body">
        <p>Full view of the distributor currently being created</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-bind="dData.Contact.FirstName"></td>
                <td ng-bind="dData.Contact.LastName"></td>
                <td ng-bind="dData.Contact.EmailAddress"></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="3">Address</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <div class="col-md-3" ng-bind="dData.Address.StreetAddress"></div>,
                    <div class="col-md-3" ng-bind="dData.Address.City"></div>
                    <div class="col-md-3" ng-bind="dData.Address.State"></div>
                    <div class="col-md-3" ng-bind="dData.Address.PostalCode"></div>
                    <div class="col-md-3" ng-bind="dData.Address.StreetAddress2"></div>,
                    <div class="col-md-4" ng-bind="dData.Address.Country"></div>

                </td>

            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="3">Inventory</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="20%">Brand</th>
                                <th width="45%">Model</th>
                                <th width="15%">Price</th>
                                <th width="15%">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top">#1</td>
                                <td valign="top">Yeti</td>
                                <td>
                                    <dl>
                                        <dt>Year</dt>
                                        <dd>2016</dd>
                                        <dt>Name</dt>
                                        <dd>ARC</dd>

                                    </dl>
                                </td>
                                <td valign="top">$1234.34</td>
                                <td valign="top">4</td>
                            </tr>
                        </tbody>
                    </table>

                </td>

            </tr>
        </tbody>
    </table>
</div>
<!-- END : Distributor Display -->
