<div class="panel panel-default">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            Create Distributor : DUB = {{dubTitle}}
        </h4>
    </div>
    <div id="distributor">
        <div class="panel-body">
            <form class="row" ng-submit="createDistributor(dData)">
                <div class="col-xs-12">
                    <div class="thumbnail small">
                        <strong>Name of Distributor</strong>
                        <br />
                        <div class="col-xs-12"> <input required ng-model="dData.Name" type="text" class="form-control" placeholder="* Name" /></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail ">

                        <strong>Address</strong>
                        <br />
                        <div class="col-xs-12">
                            <input ng-model="dData.Address.StreetAddress" type="text" class="form-control" placeholder="Street Address" />
                        </div>
                        <div class="col-xs-12"><input ng-model="dData.Address.StreetAddress2" type="text" class="form-control" placeholder="Street Address 2" /></div>
                        <div class="col-xs-6"><input ng-model="dData.Address.City" type="text" class="form-control" placeholder="City" /></div>
                        <div class="col-xs-3"><input ng-model="dData.Address.State" type="text" class="form-control" placeholder="State" /></div>
                        <div class="col-xs-3"><input ng-model="dData.Address.Country" type="text" class="form-control" placeholder="Country" /></div>
                        <div class="col-xs-12"><input ng-model="dData.Address.PostalCode" type="text" class="form-control" placeholder="Postal Code" /></div>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <strong>Contact Info</strong>
                        <br />
                        <div class="col-xs-6"> <input required ng-model="dData.Contact.FirstName" type="text" class="form-control" placeholder="* Frist Name" /></div>
                        <div class="col-xs-6"> <input required ng-model="dData.Contact.LastName" type="text" class="form-control" placeholder="* Last Name" /></div>
                        <div class="col-xs-12"><input required ng-model="dData.Contact.EmailAddress" type="text" class="form-control" placeholder="* Email Address" /></div>
                        <div class="col-xs-12"><input required ng-model="dData.Contact.PhoneNumber" type="text" class="form-control" placeholder="* Phone Number" /></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr />
                    <button type="submit" class="btn btn-success btn-large">Create Distributor</button>
                </div>

            </form>

        </div>
    </div>
</div>

