<div class="panel panel-default">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            Create Distributor : DUB = {{dubTitle}}
        </h4>
    </div>
    <div id="distributor">
        <div class="panel-body">
            <form class="row" ng-submit="createDistributor(dData)">
                <div class="col-xs-12">
                    <div class="thumbnail small">
                        <strong>Name of Distributor</strong>
                        <br />
                        <div class="col-xs-12"> <input required ng-model="dData.Name" type="text" class="form-control" placeholder="* Name" /></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail ">

                        <strong>Address</strong>
                        <br />
                        <div class="col-xs-12">
                            <input ng-model="dData.Address.StreetAddress" type="text" class="form-control" placeholder="Street Address" />
                        </div>
                        <div class="col-xs-12"><input ng-model="dData.Address.StreetAddress2" type="text" class="form-control" placeholder="Street Address 2" /></div>
                        <div class="col-xs-6"><input ng-model="dData.Address.City" type="text" class="form-control" placeholder="City" /></div>
                        <div class="col-xs-3"><input ng-model="dData.Address.State" type="text" class="form-control" placeholder="State" /></div>
                        <div class="col-xs-3"><input ng-model="dData.Address.Country" type="text" class="form-control" placeholder="Country" /></div>
                        <div class="col-xs-12"><input ng-model="dData.Address.PostalCode" type="text" class="form-control" placeholder="Postal Code" /></div>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <strong>Contact Info</strong>
                        <br />
                        <div class="col-xs-6"> <input required ng-model="dData.Contact.FirstName" type="text" class="form-control" placeholder="* Frist Name" /></div>
                        <div class="col-xs-6"> <input required ng-model="dData.Contact.LastName" type="text" class="form-control" placeholder="* Last Name" /></div>
                        <div class="col-xs-12"><input required ng-model="dData.Contact.EmailAddress" type="text" class="form-control" placeholder="* Email Address" /></div>
                        <div class="col-xs-12"><input required ng-model="dData.Contact.PhoneNumber" type="text" class="form-control" placeholder="* Phone Number" /></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr />
                    <button type="submit" class="btn btn-success btn-large">Create Distributor</button>
                </div>

            </form>

        </div>
    </div>
</div>



<!-- START : DISTRIBUTOR DISPLAY -->

<div class="panel panel-default">
    <div class="panel-heading">Distributor View for <span ng-bind="dData.Name"></span></div>
    <div class="panel-body">
        <p>Full view of the distributor currently being created</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-bind="dData.Contact.FirstName"></td>
                <td ng-bind="dData.Contact.LastName"></td>
                <td ng-bind="dData.Contact.EmailAddress"></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="3">Address</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <div class="col-md-3" ng-bind="dData.Address.StreetAddress"></div>,
                    <div class="col-md-3" ng-bind="dData.Address.City"></div>
                    <div class="col-md-3" ng-bind="dData.Address.State"></div>
                    <div class="col-md-3" ng-bind="dData.Address.PostalCode"></div>
                    <div class="col-md-3" ng-bind="dData.Address.StreetAddress2"></div>,
                    <div class="col-md-4" ng-bind="dData.Address.Country"></div>

                </td>

            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="3">Inventory</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="20%">Brand</th>
                                <th width="45%">Model</th>
                                <th width="15%">Price</th>
                                <th width="15%">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top">#1</td>
                                <td valign="top">Yeti</td>
                                <td>
                                    <dl>
                                        <dt>Year</dt>
                                        <dd>2016</dd>
                                        <dt>Name</dt>
                                        <dd>ARC</dd>

                                    </dl>
                                </td>
                                <td valign="top">$1234.34</td>
                                <td valign="top">4</td>
                            </tr>
                        </tbody>
                    </table>

                </td>

            </tr>
        </tbody>
    </table>
</div>
<!-- END : Distributor Display -->














<!--
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#distributor" aria-expanded="true" aria-controls="collapseOne">
                        Address / Contact Information
                    </a>
                </h4>
            </div>
            <div id="distributor" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="distributor">
                <div class="panel-body">
                    <form class="row" ng-submit="createDistributor(dData)">
                        <div class="col-xs-12">
                            <div class="thumbnail small">
                                <strong>Name of Distributor</strong>
                                <br />
                                <div class="col-xs-12"> <input required ng-model="dData.Name" type="text" class="form-control" placeholder="* Name" /></div>
                              </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail ">
                                
                                <strong>Address</strong>
                                <br />
                                <div class="col-xs-12">
                                    <input ng-model="dData.Address.StreetAddress" type="text" class="form-control" placeholder="Street Address" />
                                </div>
                                <div class="col-xs-12"><input ng-model="dData.Address.StreetAddress2" type="text" class="form-control" placeholder="Street Address 2" /></div>
                                <div class="col-xs-6"><input ng-model="dData.Address.City" type="text" class="form-control" placeholder="City" /></div>
                                <div class="col-xs-3"><input ng-model="dData.Address.State" type="text" class="form-control" placeholder="State" /></div>
                                <div class="col-xs-3"><input ng-model="dData.Address.Country" type="text" class="form-control" placeholder="Country" /></div>
                                <div class="col-xs-12"><input ng-model="dData.Address.PostalCode" type="text" class="form-control" placeholder="Postal Code" /></div>

                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Contact Info</strong>
                                <br />
                                <div class="col-xs-6"> <input required ng-model="dData.Contact.FirstName" type="text" class="form-control" placeholder="* Frist Name" /></div>
                                <div class="col-xs-6"> <input required ng-model="dData.Contact.LastName" type="text" class="form-control" placeholder="* Last Name" /></div>
                                <div class="col-xs-12"><input required ng-model="dData.Contact.EmailAddress" type="text" class="form-control" placeholder="* Email Address" /></div>
                                <div class="col-xs-12"><input required ng-model="dData.Contact.PhoneNumber" type="text" class="form-control" placeholder="* Phone Number" /></div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr/>
                            <button type="submit" class="btn btn-success btn-large">Create Distributor</button>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#inventory" aria-expanded="false" aria-controls="collapseTwo">
                        Add Inventory
                    </a>
                </h4>
            </div>
            <div id="inventory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <form ng-submit="addInventoryItem(Inventory)">
                        <div class="col-xs-12">
                            <div class="thumbnail small">
                                <strong>Brand</strong>
                                <br />
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Brand" type="text" class="form-control" placeholder="Brand" /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Model</strong>
                                <br />
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Model.Year" type="text" class="form-control" placeholder="Year: 2016" /></div>
                                <div class="col-xs-12"> <input ng-model="Inventory.Bike.Model.Name" type="text" class="form-control" placeholder="Model Name" /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <strong>Price &amp; Quantity</strong>
                                <br />
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input ng-model="Inventory.Bike.Price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Quantity">
                                        <span ng-model="Inventory.Quantity" class="input-group-addon">Qty</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr />
                            <button type="submit" class="btn btn-success btn-large">Create Inventory Item</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#offers" aria-expanded="false" aria-controls="collapseThree">
                        Add Offers
                    </a>
                </h4>
            </div>
            <div id="offers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#reciepts" aria-expanded="false" aria-controls="collapseThree">
                        Opt in for Receipt Types
                    </a>
                </h4>
            </div>
            <div id="reciepts" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Distributor View for <span ng-bind="dData.Name"></span></div>
        <div class="panel-body">
            <p>Full view of the distributor currently being created</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-bind="dData.Contact.FirstName"></td>
                    <td ng-bind="dData.Contact.LastName"></td>
                    <td ng-bind="dData.Contact.EmailAddress"></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="3">Address</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="col-md-3" ng-bind="dData.Address.StreetAddress"></div>,
                        <div class="col-md-3" ng-bind="dData.Address.City"></div>
                        <div class="col-md-3" ng-bind="dData.Address.State"></div>
                        <div class="col-md-3" ng-bind="dData.Address.PostalCode"></div>
                        <div class="col-md-3" ng-bind="dData.Address.StreetAddress2"></div>,
                        <div class="col-md-4" ng-bind="dData.Address.Country"></div>

                    </td>
                    
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="3">Inventory</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="20%">Brand</th>
                                    <th width="45%">Model</th>
                                    <th width="15%">Price</th>
                                    <th width="15%">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td valign="top">#1</td>
                                    <td valign="top">Yeti</td>
                                    <td>
                                        <dl>
                                            <dt>Year</dt>
                                            <dd>2016</dd>
                                            <dt>Name</dt>
                                            <dd>ARC</dd>
                                            
                                        </dl>
                                    </td>
                                    <td valign="top">$1234.34</td>
                                    <td valign="top">4</td>
                                </tr>
                            </tbody>
                        </table>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    -->