<h2>{{title}}</h2>
<div class="col-md-4">
    <div class="thumbnail">
        <div class="visual"><div>{{distributors.length}}</div></div>
        <div class="caption">
            <h3>TOTAL Discounts</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
                <a ui-sref="distributors.createDistributor" ng-click="manageActionButtonTitle()" class="btn btn-primary btn-large" role="button">{{actionButtonTitle}}</a>
            </p>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row clearfix">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">
                            Id
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Code
                        </th>
                        <th class="text-center">
                            Percentage
                        </th>
                        <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="distributor in distributors" data-row="display">
                        <td>
                            <span>{{distributor.Id}}</span>
                        </td>
                        <td data-name="title">
                            10% off during the summer holidays
                        </td>
                        <td data-name="code">
                           CODE123
                        </td>
                        <td data-name="percentage">
                            10%
                        </td>
                        <td data-name="del">
                            <button class="btn btn-danger glyphicon glyphicon-remove"></button>
                            <button class="btn btn-primary glyphicon glyphicon-eye-open" ng-click="GetDistributor(distributor.Id)" data-toggle="modal" data-target="#distributorsModal"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- START : UI-VIEW EditCreateView -->
<div id="edit-create">
    <div ui-view="EditCreateView"></div>
</div>
<!-- START : UI-VIEW EditCreateView -->


<!-- START : MODAL - Distributor View -->
<div id="distributorsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center">{{distributorsModalData.Name}}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        
                        <address class="thumbnail">
                            <strong>Address:</strong>
                            <hr/>
                            {{distributorsModalData.Address.StreetAddress}}
                            <br/>
                            {{distributorsModalData.Address.StreetAddress2}}
                            <br />
                            {{distributorsModalData.Address.City}}, {{distributorsModalData.Address.State}} {{distributorsModalData.PostalCode}}
                            <br />
                            {{distributorsModalData.Address.Country}}
                        </address>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <strong>Contact:</strong>
                            <hr />
                            {{distributorsModalData.Contact.FullName}}
                            <br />
                            {{distributorsModalData.Address.EmailAddress}}
                            <br />
                            {{distributorsModalData.Address.PhoneNumber}}
                            <br />
                            Sales Dept: {{distributorsModalData.Address.SalesDepartment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="list-group">
                            <div ng-repeat="offer in distributorsModalData.Offers" href="#" class="list-group-item">
                                <strong>Offers</strong>
                                <hr />
                                <div class="thumbnail">
                                    <h2 class="list-group-item-heading">{{offer.Title}}</h2>
                                    <hr/>
                                    <p class="list-group-item-text">
                                        <ul>
                                            <li ng-repeat="discount in offer.Discounts">
                                                <dl>
                                                    Discount:
                                                    <dt>{{discount.Title}}</dt>
                                                </dl>
                                                <hr ng-if="!$last" />
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <strong>Inventory</strong>
                        <div class="list-group">
                            <div ng-repeat="product in distributorsModalData.Inventory" href="#" class="list-group-item">
                                <strong>{{product.Bike.Model.Year}} {{product.Bike.Brand.Name}} <strong>{{product.Bike.Model.Name}}</strong></strong>
                                 <div class="badge">
                                    <div>{{product.Quantity}}</div>
                                    <br/>
                                    <span>qty</span>
                                </div>
                                <div class="price">
                                    <div class="col-md-12">
                                        <span>$</span>{{product.Bike.Price.Value}}
                                        <button ng-click="showPriceEdit = true" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                                    </div>
                                    <div class="input-group col-md-12" ng-show="showPriceEdit">
                                        <input ng-model="product.Bike.Price.Value" value="{{product.Bike.Price.Value}}" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="UpdatePrice(distributorsModalData.Id, product.Bike.Id, product.Bike.Price.Value)" class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                                <hr />
                                <div class="thumbnail">
                                    <p>{{product.Bike.Model.Description}}</p>
                                    <p class="list-group-item-text">
                                        <ul>
                                            <li ng-repeat="feature in product.Bike.Model.Features">
                                                <dl>
                                                    {{feature.Title}}:
                                                    <dt>{{feature.Description}}</dt>
                                                </dl>
                                                <hr ng-if="!$last" />
                                            </li>
                                        </ul>
                                    </p>
                                </div>

                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<!-- END : MODAL - Distributor View -->